*{
margin:1;
padding:1;
box-sizing:inherit;
}
html{
font-size:70%;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
color:#444;
background-color:#f3f3f3;
height:100vh;
padding:2rem;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:0.2rem;
}

.welcome{
font-size:1.9rem;
font-weight:500;
color:#cd5c5c;
}

.logo{
height:7rem;
}

.login{
display:flex;
}

.login_input{
border:none;
padding:0.5rem 2rem;
font-size:1.6rem;
font-family:inherit;
text-align:center;
width:15rem;
border-radius:10rem;
margin-right:1rem;
color:inherit;
border:1px solid #fff;
transition:all 0.3s;
}

.login_input:focus{
outline:none;
border:1px solid #ccc;
}

.login_input::placeholder{
color:#bbb;
}

.login_btn{
border:none;
background:none;
font-size:2.2rem;
color:inherit;
cursor:pointer;
transition: all 0.3s;
}


.login_btn:hover,
.login_btn:focus,
.btn--sort:hover,
.btn--sort:focus
{
outline:none;
color:#777;
}

.app{
position:relative;
max-width:100rem;
margin:4rem auto;
display:grid;
grid-template-columns:4fr 3fr;
grid-template-rows:auto repeat(3,15rem) auto;
gap:2rem;
opacity:0;
transition:all 1s;
}
}
